.box {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #adf;
        cursor: pointer;
    }
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}